@font-face {
    font-family: headingFont;
    src: url(lilita-one-v15-latin-regular.woff2);
}
@font-face {
    font-family: RCBFont;
    src: url(Roboto-Condensed-Bold.woff2);
}
html{
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background-color: #082757;
}

body::-webkit-scrollbar-thumb {
    background-color: #0e408b;
    border-radius: 5%;
}
::placeholder{
    color: #da829f;
    font-weight: lighter;
    opacity: 1;
}
body {
    background: radial-gradient(#5c0d3e, #001532);
    font-family: headingFont, cursive;
    text-align: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.main-container{
    height: 100vh;
    z-index: -2;
}
.logo-container{
    padding-left: 20px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    z-index: 1;
    padding-left: 20px;
    padding-right: 50px;
}
.nav-buttons {
    color: #ffa4c2;
    border: none;
    margin: 5px;
    height: 10vh;
    font-size: 100%;
    font-size: 4vh;
    cursor: pointer;
    border-radius: 10px;
    font-family: headingFont;
    transition: transform 0.1s ease-in-out;
}
.nav-btn {
    background: #03112a;
    color: #f71f67;
    border: none;
    margin: 5px;
    height: 10vh;
    font-size: 100%;
    font-size: 4vh;
    cursor: pointer;
    margin-right:15px;
    border-radius: 10px;
    font-family: headingFont;
    transition: all 0.3s ease-in-out;
}
.nav-btn:hover{
    background-color: #f71f67;
    box-shadow: inset 0 1.5em 0em 0em #f71f67,
        inset 0 -1.5em 0em 0em #f71f67;
    color: #03112a;
}

.navbar {
    height: 20vh;
    background-size: 200px auto;
    background-repeat: repeat;
}

.generalInformation{
    background-color: #0d0331;
    margin: 0px 100px 20px 100px;
    padding: 20px 10px 20px 10px;
    border-radius: 10px;
    color: #da829f;
    font-size: 2rem;
}

.input-group {
    display: flex;
    align-items: center;
    background: #fabacf;
    padding: 10px 20px;
    border-radius: 50px 50px 50px 50px;
    font-weight: bold;
    color: #aa053b;
    flex: 1;
    margin-top: 10px;
}

.input-group input {
    border: none;
    background: none;
    font-size: 1.2rem;
    outline: none;
    color: #da829f;
    font-weight: bold;
    width: 100%;
}

label{
    color: #aa053b; font-size: 50%; width: 230px;  text-align: right;
}

.add-btn{
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.addbutton {
    height: 25px;
    transition: all 0.5s ease-in-out;
}

.addbutton:hover {
    opacity: 0.2;
}
.productListDisplay{
    display: flex;
    align-items: center;
    background: #fabacf;
    padding: 10px 20px;
    border-radius: 50px 50px 50px 50px;
    font-weight: bold;
    font-size: 1.2rem;
    color: #aa053b;
    flex: 1;
    margin-top: 10px;
}

.logo{
    height: 20vh;
    transition: transform 0.1s ease-in-out;
}
.logo:hover{
    transform: scale(1.1);
}
.hero{
    height: 100vh;
}
.card{
    background-color: #010f28;
    border-radius: 50px;
    margin: 15px 10vw 0px 10vw;
    padding: 10px 10px 10px 10px;
    position: relative;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
  
.card::after, .card::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #ff0055, #ff0095, #ff80ca, #ff0095, #ff0055);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 50px;
    animation: 3s spin linear infinite;
}
.card::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}
@keyframes spin{
    from{
      --angle: 0deg;
    }
    to{
      --angle: 360deg;
    }
}


.title {
    font-size: 4.5rem;
    margin: 20px 0;
    z-index: 5;
    animation: titleColourChange 4s infinite;
    transition: all 0.5s;
    background: linear-gradient(-45deg, #ff0084, #ff4242, #ff0084, #ff4242);
	background-size: 400% 400%;
	animation: gradient 7s ease infinite;

	background-clip: text;
	-webkit-background-clip: text;
    -moz-background-clip: text;
	color: transparent;
}
@keyframes gradient{
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.footer{
    height: 10vh;
    background-color: #001532;
}

.submit-btn {
    background: #ff0055;
    color: white;
    border: none;
    font-size: 1.2rem;
    padding: 10px 20px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 10px;
}
.submit-btn:hover {
    background: #ff80ca;
}

.product-table {
    color: #da829f;
    list-style: none;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    
}
.product-table li {
    background: #fabacf;
    margin: 5px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}
.delete-btn {
    background: #aa053b;
    color: #da829f;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    align-self: left;
}
.delete-btn:hover {
    background: #da829f;
    color:#aa053b;
}
